.date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;

}

.date div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: blue;

}

.date div.day{
    font-weight: 700;
}

.date div.day:first-child,
.date div.number:nth-child(7n + 1){
    color: #ff685d;
    font-weight: 700;
}

.date div.number.active,
.date div.number:hover{
    background: #009688;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
