<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="graphicsstyle.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>OHANA | GRAPHS</title>
</head>
<body>

  <div class="container" style="height: 100vh; background-color:#F6F4F3; color:white;">
    <div class="banner row py-2" style="background-color: #B9CEF3;">
      <div class="ohanaIcon col-6">
        <img src="../styles/images/logo.png" class="img-fluid" style="width: 45px;" alt="">
      </div>
      <div class="userProfile col-6 text-right" style="font-size:1.5rem;">Mom</div>
    </div>
    <div class="navIcons row my-5">
      <div class="col-4 homeButtonContainer">
        <img src="../styles/images/home.png" class="img-fluid" alt="">
      </div>
      <div class="col-4 graphButtonContainer">
        <img src="../styles/images/graph.png" class="img-fluid" alt="">
      </div>
      <div class="col-4 calendarButtonContainer">
        <img src="../styles/images/calendar.png" class="img-fluid" alt="">
      </div>
    </div>

    <div class="legendRow row my-4">
      <div class="col-4 diaperImgLegend text-right">
        <img src="../styles/images/diaper.png" alt="" class="img-fluid" style="height: 40px; width: auto;">
      </div>
      <div class="col-4 feedImgLegend text-center">
        <img src="../styles/images/bottle2.png" alt="" class="img-fluid" style="height: 40px; width: auto;">
      </div>
      <div class="col-4 napImgLegend text-left">
        <img src="../styles/images/sleepingbaby3-b.png" alt="" class="img-fluid" style="height: 40px; width: auto;">
      </div>
    </div>

    <div class="dummyGraphContainer row ">
      <img class="col-12" src="../styles/images/dummy-graph.png" alt="" style="height: 400px; width:340px;">
    </div>

    <div class="footerMotto row p-2 fixed-bottom" style="background-color: #B9CEF3; color: white;">
        <p class="mottoContainer col-10 m-0">
            Ohana means 'family'
        </p>
        <div class="questionIconContainer col-2">
            <img src="../styles/images/question1.png" alt="" class="img-fluid" style="height:35px; width:auto;">
        </div>
    </div>
  </div>

</body>
</html> 