<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
  <title>OHANA | SELECT USER</title>
</head>
<body>
    <div class="container" style="height: 100vh; background-color:#F6F4F3; color:white;">
        <div class="banner row py-2" style="background-color: #B9CEF3;">
            <div class="ohanaIcon col-6">
                <img src="../styles/images/logo.png" class="img-fluid" style="width: 45px;" alt="">
            </div>
            <div class="currentUserProfile col-6 text-right" style="font-size:1.5rem;">
                Mom
            </div>
        </div>
        <div class="selectUserHeadline row align-items-center" style="height: 250px; font-size: 3rem; color: darkgray;">
            <div class="col-12 text-center" >
                Select User
            </div>
        </div>
        <div class="userProfileSelection">
            <div class="userProfile row align-items-center my-1" style="height: 60px; font-size: 2rem; background-color:#B9CEF3;">
                <div class="col-12 text-center">
                    Mom
                </div>            
            </div>
            <div class="userProfile row align-items-center my-1" style="height: 60px; font-size: 2rem; background-color:#B9CEF3;">
                <div class="col-12 text-center">
                    Dad
                </div>            
            </div>
            <div class="userProfile row align-items-center my-1" style="height: 60px; font-size: 2rem; background-color:#B9CEF3;">
                <div class="col-12 text-center">
                    Caretaker
                </div>            
            </div>            
        </div>
        <div class="footerMotto row p-2 fixed-bottom" style="background-color: #B9CEF3; color: white;">
            <p class="mottoContainer col-10 m-0">
                Ohana means 'family'
            </p>
            <div class="questionIconContainer col-2">
                <img src="../styles/images/question1.png" alt="" class="img-fluid" style="height:35px; width:auto;">
            </div>
        </div>
    </div>

</body>

</html>
